
:root{
    --grey: #f1f0f6;
    --dark-grey: #8d8d8d;
    --light: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --blue: #1775f1;
    --light-blue: #00e4ff;
    --dark-blue: #0c5fcd;
    --red: #fc3856;
} 
/* ============ CSS ROOT VARIABLES -==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;700&display=swap');
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-transparent: rgba(255, 255, 255, 0.5);
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6fff9;
    --dark-hover: #323048;
    --dark-hover: #edf0f5;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
   --border-radius-3: 1.2rem;

   --card-padding: 1.8rem;
   --padding-1: 1.2rem;
   

   --box-shadow: 0 2rem 3rem var(--color-light);
}

/*---=-==Dark theme variables --=-====-*/
.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528cc;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-white);
    --dark-hover: #323048;
    --color-transparent: rgba(0, 0, 0, 0.5);
}

*{
    margin: 0px;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    font-size: 14px;
}
body{
    background: var(--grey);
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    color: var(--color-dark);
}
a{
    color: var(--color-dark);
    text-decoration: none;
}
.bx{
    font-size: 20px;
}
pre{
    color: var(--color-dark);
    font-size: 100%;
}
ul{
    margin-bottom: 0;
}
li{
    list-style: none;
}
.logo3{
    font-weight: 800;
    font-size: 1.8rem;
}
.h2{
    font-size: 1.4rem;
}
.h3{
    font-size: 0.87rem;
    font-weight: 500;
}
.h4{
    font-size: 0.8rem;
}
.h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.text-muted1{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
    margin-bottom: 0;
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}
.profile-photo img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.error{
    color: red;
    font-style: italic;
}


/*=========SIDEBAR=======*/
#sidebar .brand{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    height: 64px;
    font-weight: 700;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--color-white);
    transition: all .3s ease;
    margin-left: 8px;
}
.logo img{
    width: 2.2rem;
    margin-top: -6px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
}
h3{
    font-weight: 500;
}
.sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    text-decoration: none;
    height: 3.7rem;
    transition: all 300s ease;
}
.sidebar a span{
    font-size: 1.2rem;
    transition: all 300ms ease;
}
.sidebar a .span{
    font-size: 0.8rem;
    transition: all 300ms ease;
}

.sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 15px;
    transition: all 300ms ease;
}
.sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
#sidebar.hide a.active{
   width: 100%;
}
.sidebar a.active span{
    color: var(--color-primary);
    margin-left: 0px;
}

.sidebar a:hover{
    color: var(--color-primary);
}
.sidebar a:hover span{
    margin-left: 1rem;
}
.sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

#sidebar{
    position: fixed;
    max-width: 210px;
    width: 100%;
    background: var(--color-white);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: .2s all ease-in-out;
    z-index: 200;
}
#sidebar.hide{
    max-width: 60px;
}
#sidebar.hide:hover{
    max-width: 220px;
}
#sidebar::-webkit-scrollbar{
    display: none;
}

#sidebar .icon{
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
#sidebar .side-dropdown{
    max-height: 0;
    padding-left: 35px;
    overflow-y: hidden;
    transition: all .4s ease;
}
#sidebar .side-dropdown.show{
    max-height: 1000px;
}
#sidebar .side-dropdown > li > a{
    height: 2.5rem;
}
#sidebar .side-dropdown > .back:hover{
    background: var(--color-background);
}
#sidebar .dropdown > .back:hover{
    background: var(--color-background);
}
#sidebar .icon-right{
    margin-left: auto;
    transition: all .4s ease;
}
#sidebar a.expand .turn{
    transform: rotateZ(90deg);
}


#sidebar .dropdown{
    max-height: 0;
    padding-left: 35px;
    overflow-y: hidden;
    transition: all .4s ease;
}
#sidebar .dropdown.view{
    max-height: 1000px;
}
#sidebar .dropdown > li > a{
    height: 2.5rem;
}
#sidebar .icon-rights{
    margin-left: auto;
    transition: all .4s ease;
}
#sidebar a.large .turns{
    transform: rotateZ(90deg);
}

/*=======SIDEBAR STOPS HERE=========*/



/*========Content-=========*/
#content{
    position: relative;
    width: calc(100% - 210px);
    left: 210px;
    transition: all .3s ease;
}
#sidebar.hide + #content{
    width: calc(100% - 60px);
    left: 60px;
}
/*====NAVBAR===*/
nav{
    background: var(--color-white);
    height: 64px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 1rem 1rem var(--color-light);
    transition: .2s all ease-in-out;
}
nav:hover{
    box-shadow: none;
}
nav .toggle-sidebar{
    color: var(--color-dark);
    font-size: 18px;
    cursor: pointer;
}
nav .nav-link{
    position: relative;
}
nav .nav-link .icon{
    font-size: 18px;
    /* color: var(--dark); */
}
nav .nav-link .badge{
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-danger);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-weight: 700;
    font-size: 10px;
}
nav .divider{
    width: 1px;
    background: var(--dark-grey);
    height: 20px;
    display: block;
    align-self: center;
}


.top{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    gap: 1.5rem;
}
.top button{
    display: none;
}
.theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-toggler .active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
.top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
    align-self: center;
}
nav .profile-photo img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.profile .info{
    line-height: 2px;
}
/*=======NAVBAR====*/

/* MAIN */
main{
    width: 100%;
    padding: 24px 20px 20px 20px;
    transition: all .3s ease-in;
    /* display: flex; */
    /* justify-content: space-around; */
}
 .contain{
    transition: all .3s ease-in;
}
/*
.contain1{
    width: 23%;
} */
main .title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
main .breadcrumbs{
    display: flex;
    grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a{
    font-size: 14px;
}
main .breadcrumbs li{
    color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider{
    color: var(--dark-grey);
    pointer-events: none;
}
main .info-data{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
    margin-bottom: 1rem;
    transition: all .3s ease-in-out;
}
main .info-data .cards{
    height: 150px;
    padding: 20px;
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    transition: .3s all ease-in;
    box-shadow: 0 1rem 1rem var(--color-light);
}
main .info-data .cards:hover{
    box-shadow: none;
}
main .cards .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .cards .head h2{
    font-size: 24px;
    font-weight: 600;
}
main .cards .head p{
    font-size: 14px;
}
main .cards .head .icon{
    font-size: 60px;
    color: var(--green);
}
main .cards .head .icon.down{
    color: var(--red);
}

main .cards .labels{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-dark);
}
.hr{
   height: 3px;
   width: 100%;
   background: var(--dark-grey);
   box-shadow: 0 1rem 1rem var(--color-light);
}

/*====== CSS for the  table ========*/
main .recent-orders{
    margin-top: 2rem;
    transition: all .3s ease-in;
}
main .recent-orders h2{
    margin-bottom: 0.8rem;
}
main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease  ;
    border-collapse: var(--color-background);
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 4rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
table.dataTable thead th{
    text-align: center;
    color: var(--dark-color) !important;
    border-bottom: 1px solid var(--color-dark);
    padding: 5px 4px;
}

/* MAIN */
/*======Content=======*/

/*  contain2 */
/*recent update*/
.contain1 .recent-updates{
    margin-top: 1rem;
}
.contain1 .recent-updates h2{
    margin-top: 0.8rem;
}
.contain1 .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.contain1 .recent-updates .updates:hover{
    box-shadow: none;
}
.contain1 .recent-updates .updates .update
{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}
/*===right sidebar==*/
.rightbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background: var(--color-transparent);
    transition: all .3s ease-in-out;
    z-index: 100;
    box-shadow: var(--box-shadow);
     overflow-y: auto;
     scrollbar-width: none;
}
.rightbar.close{
    width: 70px;
}
 .toggle{
    position: absolute;
    top: 33px;
    left: 180px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background: var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.rightbar.close header .toggle{
    transform: translateY(-50%);
    left: 33px; 
}
.contain{
    width: calc(100% - 300px);
    position: relative;
    right: 0px;
    transition: var(--tran-05);
    transition: all .3s ease-in-out;
}
.contain1{
    width: 96%;
    margin: 0 auto;
}
.rightbar.close .contain1{
    display: none;
}
.rightbar.rightbar.close ~ .contain{
    right: 0px;
    width: calc(100% - 70px);
    transition: all .3s ease-in-out;
}
.rightbar::-webkit-scrollbar{
    display: none;
}

.footer{
    position: sticky;
    background: var(--color-background);
    bottom: 0;
    width: 100%;
    height: 30px;
}

.last{
    text-align: center;
    padding-top: 10px;
}



/*  ==== CSS for calendar =====*/
.body{
    display: grid;
    margin-top: 1rem;
}
.calendar{
    height: max-content;
    width: max-content;
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.light .calendar{
    box-shadow: var(--box-shadow);
}
.light .calendar:hover{
    box-shadow: none;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-dark);
    padding: 5px;
}
.calendar-body{
    padding: 10px;
}
.calendar-week-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 12px;
    font-weight: 600;
    height: 50px;
}
.calendar-week-day div{
    display: grid;
    place-content: center;
    color: var(--color-dark);
}
.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-dark);
}
.calendar-days div{
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}
.month-picker{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.month-picker:hover{
    background-color: var(--dark-hover);
}
.year-picker{
    display: flex;
}
.year-change{
    height: 30%;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin: 0 10px; */
    cursor: pointer;
}
.calendar-days div span{
    position: absolute;
}
.calendar-days div:hover span{
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3){
    width: 2px;
    height: 0;
    background-color: var(--color-dark);
}
.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3){
    height: 100%;
}
.calendar-days div span:nth-child(1){
    bottom: 0;
    left: 0;
}
.calendar-days div span:nth-child(3){
    top: 0;
    right: 0;
}
.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4){
    width: 0;
    height: 2px;
    background-color: var(--color-dark);
}
.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4){
    width: 100%;
}
.calendar-days div span:nth-child(2){
    top: 0;
    left: 0;
}
.calendar-days div span:nth-child(4){
    bottom: 0;
    right: 0;
}
.calendar-days div:hover span:nth-child(2){
    transition-delay: 0.2s;
}
.calendar-days div:hover span:nth-child(3){
    transition-delay: 0.4s;
}
.calendar-days div:hover span:nth-child(4){
    transition-delay: 0.6s;
}
.calendar-days div.curr-date{
    background-color: var(--color-primary-variant);
    color: var(--color-info-light);
    border-radius: 50%;
}
.calendar-days div.curr-date span{
    display: none;
}

.month-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    /* color: var(--color-info-light); */
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}
.month-list.show{
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all .2s ease-in-out;
}
.month-list > div{
    display: grid;
    place-items: center;
}
.month-list > div > div{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.month-list > div > div:hover{
    background-color: var(--dark-hover);
}
 
@keyframes to-top{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
/*CSS FOR THE FORMS*/
.modal-body{
    padding: 0;
}
.card-list{
    width: 100%;
    height: 420px;
    box-shadow: 0 4px 6px 0px rgba(0,0,0,0.5);
    perspective: 1000px;
}
/* label{
    color: var(--color-white);
} */
.btn-close{
    position: absolute;
    right: 0;
    padding: 1em;
    z-index: 100;
}
.modal-content{
    width: 80%;
    margin-inline: auto;
    border-radius: var(--card-border-radius);
    background: none;
    border: none;
}
.modal-body{
    border-radius: var(--card-border-radius);
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.chosen-container{
    width: 100% !important;
    margin: 6px 0;
    height: 35px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}
.card-font{
    position: absolute;
    width: 100%;
    height: auto;
    background: #ffffffa6;
    border-radius: var(--card-border-radius);
    /* background-position: center; */
    /* background-size: cover; */
    /* background-image: linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url(../image/medicine.jpeg); */
    padding: 25px 55px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.card-list h2{
    font-weight: normal;
    /* font-size: 24px; */
    text-align: center;
    /* margin-bottom: 20px; */
    /* color: #fff; */
}
.card-list{
    border-radius: var(--card-border-radius);
}
.input-box{
    width: 100%;
    /* background: transparent;
    border: 1px solid #fff; */
    margin: 6px 0;
    height: 35px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    /* color: #fff; */
}
.input-box1{
    width: 100%;
    background: white;
   /* border: 1px solid #fff; */
    margin: 6px 0;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    /* color: #fff; */
}
::placeholder{
    /* color: #fff; */
    font-size: 12px;
}
.submit-btn
{
    position: relative;
    width: 50%;
    background: #000000d8;
    border: 1px solid #000000d8;
    margin: 20px 0 0 60px;
    height: 33px;
    font-size: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}
.submit-btn::after{
    content:'\27a4';
    color: #fff;
    line-height: 35px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    right: -1px;
    top: -1px;
}
.upload-box{
    /* border: 1px solid #000000d8; */
    border-radius: 50px;
    width: 100%;
    outline: none;
    cursor: pointer;
}
::-webkit-file-upload-button{
    color: #fff;
    background: #000000d8;
    padding: 8px;
    border: 1px solid #000000d8;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}


/*======Media queries=========*/
@media screen and (max-width:780px){
    #content{
        position: relative;
        /* width: calc(100% - 60px); */
        transition: all .3s ease;   
    }
    nav{
        width: 100%;
    }
   .profile .info{
        display: none;
    }
    .top .button{
        display: inline-block;
        font-size: 18px;
        align-self: center;
        background: none;
        color: var(--color-dark);
    }
    .rightbar.close{
        width: 10px;
    }
    .top{
        margin-right: 25px;
    }
    .rightbar.rightbar.close ~ .contain{
        width: calc(100% - 10px);
        transition: all .3s ease-in-out;
    }
    .rightbar.close header .toggle{
        left: 0px; 
    }
}
@media (max-width: 400px){
    .modal-content{
        width: 100%;
    }
    .card-font{
        padding: 25px 25px;
    }
}

@media screen and (max-width:500px){
    #sidebar.hide {
        max-width: 0px;
    }
    #sidebar.hide + #content {
        width: calc(100% - 0px);
        left: 0px;
    }
}